.loginform{
    margin-top: 15%;
    margin-bottom: 15%;

    padding-top:2%;
    padding-bottom:3%;
    background-color: rgba(255,255,255,0.6);
}

body{
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
};