.loginform{
    margin-top: 10%;
    margin-bottom: 15%;

    padding-top:2%;
    padding-bottom:3%;
    background-color: rgba(255,255,255,0.6);
}

body{
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p{
    color:black;
    background-color: rgba(255,255,255,0.3);
    padding-left:2%;
    padding-right:2%;
    padding-top: 2%;
    padding-bottom:2%;
}

